html, body {
    height: 100%;
}

body {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 0 none;
    color: #555555;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.bigintro {
    font-size: 38px;
    line-height: 50px;
    text-align: center;
}

.space-40 {
    height: 40px;
    width: 100%;
}

.space-20 {
    height: 20px;
    width: 100%;
}

.form-control {
    border-radius: 6px !important;
}