<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}P+N Boats{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans:400,300' rel='stylesheet' type='text/css'>
        {% block css %}{% endblock %}

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        <script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="{{ asset('/js/bootstrap.js') }}"></script>
        {% block javascript %}{% endblock %}

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47823087-1', 'purpleneve.com');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <header id="site-header">
            <nav role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mc-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand"><img alt="purple+neve" src="{{ asset('bundles/pnboats/images/logo.png') }}" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="mc-navbar-collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="/services/">services</a></li>
                            <li><a href="#">clients</a></li>
                            <li><a href="#">contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">sign-in <i class="fa fa-lock"></i></a>
                                <div class="dropdown-menu client-signin">
                                     <form role="form" method="post" action="/client/auth">
                                        <div class="form-group">
                                            <input type="email" class="form-control" size="small" placeholder="Email Address" name="_username" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" size="small" placeholder="Password" name="_password" />
                                        </div>
                                        <button type="submit" class="btn btn-default">Login</button> <span class="small pull-right">(<a href="/client/forgot">Forgot Password</a>)</span>
                                     </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section id="site-body">
            {% block body %}{% endblock %}
        </section>
        <footer id="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Get In <span>Touch</span></h2>
                        <p class="lead">purple+neve</p>
                        <hr>
                        <address>
                            <p class="address">
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                    Address
                                </span>
                                15 Brunel Court, Toronto
                                <br />
                                <span>
                                    <i class="fa fa-phone"></i>
                                    Phone
                                </span>
                                +001 647 447 3485
                                <br />
                                <span>
                                    <i class="fa fa-envelope"></i>
                                    Email
                                </span>
                                <a href="mailto:sales@purpleneve.com">sales@purpleneve.com</a>
                            </p>
                        </address>
                        <hr>
                        <h2>Contact <span>Us</span></h2>
                        <p class="lead">just send a message</p>
                        <form class="contact-form" role="form" method="post" action="/contact">
                            <fieldset>
                                <div class="form-group">                                    
                                    <input type="text" class="form-control" size="small" placeholder="Name" name="name" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" size="small" placeholder="Email Address" name="email" />
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" size="small" rows="3" name="message" placeholder="Message"></textarea>
                                </div>
                                <button class="btn btn-default pull-right" type="submit"><i class="fa fa-envelope"></i></button>
                            </fieldset>
                         </form>
                    </div>
                    <div class="col-md-8">
                        <h2>Where <span>we are</span></h2>
                        <p class="lead">see our fancy map</p>
                        <hr>
                        <div id="map-canvas"></div>
                    </div>
                </div>
            </div>
            <div class="container copy-cont">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <div class="social-media pull-right">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <p class="copyright">&copy; Copyright 2013 <img src="{{ asset('bundles/frontend/images/small_neve.png') }}" alt="purple+neve" title="purple+neve" /> - All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
