<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | NavalBuddy</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/pnboats/css/global.css') }}" rel="stylesheet" media="screen">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        {% block css %}{% endblock %}

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        <script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="{{ asset('/js/bootstrap.js') }}"></script>
        {% block javascript %}{% endblock %}
        <script type="text/javascript" src="{{asset('bundles/pnboats/js/cp.js') }}"></script>
    </head>
    <body>
        <header id="header" class="navbar clearfix">
            <div class="container">
                <div class="navbar-brand">
                    <a href="{{ path('pnboats_cp_dashboard') }}"><img src="{{ asset('bundles/pnboats/images/logo.png') }}" alt="NavalBuddy" class="img-responsive" /></a>
                    <div id="sidebar-collapse" class="sidebar-collapse btn">
                        <i class="fa fa-bars"
                           data-icon1="fa fa-bars"
                           data-icon2="fa fa-bars" ></i>
                    </div>
                </div>

            </div>
        </header>
    </body>
</html
