<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %} | NavalBuddy</title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css' />
        <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/pnboats/css/global.css') }}" rel="stylesheet" media="screen">
        {% block css %}{% endblock %}

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all JavaScript, compiled by Assetic -->
        <script src="{{ asset('/js/bootstrap.js') }}"></script>
        {% block javascript %}{% endblock %}
    </head>
    <body class="{% block pageName %}default{% endblock %}">
        <div class="page">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div id="logo">
                                <img src="{{ asset('bundles/pnboats/images/logo.png') }}" alt="NavalBuddys" />
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>

