{% extends '::cp.login.html.twig' %}
{% block pageName %}login{% endblock %}
{% block title %}Control Panel{% endblock %}
{% block css %}
    <link href="{{ asset('bundles/pnboats/css/default/login.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block body %}
    <section id="forgot" class="visible">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-box">
                        <h2 class="bigintro">{% trans %}Reset Password{% endtrans %}</h2>
                        <div class="space-40"></div>
                        {% if error %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success">{{ success }}</div>
                        {% else %}
                            {{ form(recovery_form) }}
                        {% endif %}
                        <div class="space-20"></div>
                        <div class="login-helper">
                            <a href="{{ path('pnboats_cp_login') }}">{% trans %}Back to Login{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
