{% extends '::cp.login.html.twig' %}
{% block pageName %}login{% endblock %}
{% block title %}Control Panel{% endblock %}
{% block css %}
<link href="{{ asset('bundles/pnboats/css/default/login.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block body %}
    <section id="login" class="visible">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-box">
                        <h2 class="bigintro">{% trans %}Sign In{% endtrans %}</h2>
                        <div class="space-40"></div>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {% endif %}
                        {{ form(login_form) }}
                        <div class="space-20"></div>
                        <div class="login-helper">
                            <a href="{{ path('pnboats_forgot_password') }}">{% trans %}Forgot Password?{% endtrans %}</a>
                            <br />
                            Don't have an account? <a href="{{ path('pnboats_register') }}">{% trans %}Register Now!{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
