html, body {
    height: 100%;
}

body {
    background: url('/bundles/pnboats/images/login/login_background.jpg') !important;
}

.container {
    width: 100% !important;
}

#login a, #register a, #forgot a {
    color: #FFFFFF;
    text-decoration: underline;
}
#login a:hover, #register a:hover, #forgot a:hover {
    text-decoration: none;
}

.login #logo {
    margin-top: 30px;
    text-align: center;
}

.login-box {
    background: url("/bundles/pnboats/images/lockscreen.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 7px;
    color: #FFFFFF;
    margin: 30px auto;
    min-height: 300px;
    padding: 55px 60px 60px;
    position: relative;
}

.login-box button {
    width: 100% !important;
}

.login-helper {
    font-size: 12px;
    margin-top: 20px;
}

